
li {
  display: inline;
  margin: 1px;
  
}
a:hover {
    color: red;
    text-decoration: none;
}

a {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 5px 10px; 
  text-align: center;
  border-radius: 10px;
}

.container {
  margin-left: 1em;
  margin-right: 1em;
}

h2.titles {
  text-align: left;
  font-family: futura;
  margin: 0 auto;
}

p {
  text-align: left;
  font-family: avenir;
  width: 90%;
}

.cats {
    width: 90%;
    display: block;
      

