/* layout element colors
===================================== */
  
/* header, banner and footer layout
===================================== */
    
.main-nav li {
    list-style: none;
    align-content: center;

}

.main-nav a {
    display: block; 
    border-radius: 10px;
    padding: 5px;
    background-color: red;
    margin: 15px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
    
.container {
  margin-left: 1em;
  margin-right: 1em;
}

.titles {
  text-align: center;
}
    
    
/* column layout
===================================== */ 
    
    
    
/* imagery
===================================== */
.cats {
    max-width: 100%;
    display: block;
    align-content: center;
}
